@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");

:root {
  /* font */
  --font-primary: "Mulish", sans-serif;

  /* primary-color */
  --color-primary-black: #23242a;
  --color-primary-white: #fff;
  --color-primary-blue: #4f55dd;

  /* text-colors */
  --color-logo: #3c227c;
  --color-text: #282828;

  /* color-light */
  --color-light-black: #373f41;
  --color-fade-black: #4f4f4f;
  --color-light-gray-dark: #737b7d;

  /* color default */
  --color-default-blue: #3c64b1;

  /* bg */
  --color-btn-bg: #f73c6b;
  --color-bg-fade-orange: #ffa50280;
  --color-bg-fade-green: #2ed57380;
  --color-bg-fade-pink: #ff475780;
  --color-bg-fade-white: #e5e5e5;
}

/* =====================Default Codes===================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
  overflow-x: hidden;
  height: 100vh;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0 !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ===================Default Typhography=============== */
.title {
  font-weight: 800;
  font-size: 5.2rem;
  line-height: 5.6rem;
  font-style: normal;
  color: var(--color-light-black);
}
.sub-title {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.6rem;
  font-style: normal;
  color: var(--color-fade-black);
}
.third-title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 5.6rem;
  font-style: normal;
}
.contact-title {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 5.6rem;
  font-style: normal;
  color: var(--color-fade-black);
}
.logo-text {
  font-weight: 800;
  font-size: 2.1rem;
  line-height: 2.8rem;
  color: var(--color-logo);
}
.para {
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.03rem;
}
.card-para {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--color-primary-black);
}
.btn-text,
.nav-text {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
  text-align: center;
}
.footer-text {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-style: normal;
  color: var(--color-primary-black);
}
/* ========================Default Btns======================= */
.btn-primary {
  display: inline-block;
  padding: 1.2rem 1.8rem;
  border-radius: 0.6rem;
  color: var(--color-primary-white);
  background: var(--color-btn-bg);
}
.btn-secondary {
  display: inline-block;
  padding: 1.2rem 1.8rem;
  border: 0.2rem solid var(--color-btn-bg);
  color: var(--color-btn-bg);
  border-radius: 0.4rem;
  background: transparent;
}
/* ====================Default Utitities==================== */
.color-g {
  background: var(--color-bg-fade-green) !important;
}
.color-p {
  background: var(--color-bg-fade-pink) !important;
}
/* ============header Styling================= */
header {
  background: var(--color-bg-fade-orange);
}
/* ===navbar=== */
.navbar {
  padding-block: 4rem !important;
  justify-content: space-between !important;
}
.navbar-collapse {
  justify-content: center;
}
.navbar-collapse .nav-text {
  color: var(--color-light-black);
}
.navbar-nav {
  gap: 3.2rem;
}
.nav-item .active {
  color: var(--color-default-blue);
}
.nav-link::after {
  display: block;
  content: " ";
  width: 0;
  height: 0.3rem;
  margin: auto;
  background: var(--color-btn-bg);
  transition: all 0.5s ease;
  border-radius: 2rem;
  margin-top: 0.2rem;
}
.nav-link:hover::after {
  width: 100%;
}
.navbar-sign {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar-sign .nav-text:nth-child(1) {
  color: var(--color-default-blue);
}

/* .navbar-toggler */
.navbar-toggler {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.navbar-toggler-icon {
  width: 3rem;
  height: 0.4rem;
  background: var(--color-btn-bg);
}
.navbar-toggler:focus {
  box-shadow: unset !important;
}

/* ===hero=== */
.hero-contents {
  padding: 0 10rem;
}
.hero-contents .title {
  max-width: 17ch;
  margin-bottom: 4rem;
}
.hero-contents .para {
  max-width: 47ch;
  margin-bottom: 5.6rem;
}
.hero .btn-container {
  display: inline-block;
}

/* =================info styling================ */
.info {
  background: var(--color-bg-fade-white);
  padding-block: 14rem;
  position: relative;
}
.info-contents {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.info-block {
  background: var(--color-primary-white);
  padding: 2.4rem 3rem;
  border-radius: 1.6rem;
  box-shadow: 0px 12px 35px 4px rgba(171, 8, 96, 0.05);
  transition: all 0.8s ease !important;
}
.info-block:hover {
  color: var(--color-primary-white);
  background: var(--color-primary-blue);
}
.info-block .para {
  max-width: 56ch;
}
.info-img-box {
  padding: 0 10rem;
}
.info-doodle {
  position: absolute;
  top: 2rem;
  left: 0;
}

/* ============Suggest Styling=============== */
.suggest {
  background: var(--color-bg-fade-green);
  padding-block: 8rem;
  position: relative;
}
.suggest-contents {
  display: flex;
  justify-content: space-between;
}
.suggest-left .sub-title {
  max-width: 22ch;
}
.suggest-right .sub-title {
  max-width: 17ch;
}
.suggest-doodle {
  position: absolute;
  top: 3rem;
  left: 0;
}

/* ============Media Queries================ */

/* Media Queries for tablet */
@media screen and (max-width: 768px) {
  .title {
    font-size: 4.2rem;
  }
  /* .navbar */
  .hero-contents {
    padding: 0;
  }
  .navbar-sign {
    display: none;
  }
  /* .hero */
  .hero-contents .title {
    margin-bottom: 2rem;
  }
  .hero-contents .para {
    margin-bottom: 2.6rem;
  }

  /* .info */
  .info {
    padding-block: 8rem;
  }
  .info-doodle {
    display: none;
  }

  /* .suggest */
  .suggest {
    padding-block: 4rem;
  }
  .suggest .sub-title {
    font-size: 3.2rem;
    max-width: unset;
    text-align: center;
  }
  .suggest-doodle {
    display: none;
  }
  .suggest-contents {
    flex-direction: column;
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 480px) {
  .title {
    line-height: 4rem;
  }

  /* .navbar */
  .navbar {
    padding-block: 1rem !important;
  }
  .navbar-nav {
    gap: 2.2rem;
  }

  /* .hero */
  .hero-contents {
    padding-block: 1.8rem;
    text-align: center;
  }

  /* .info */
  .info-contents {
    text-align: center;
  }

  /* .suggest */
  .suggest {
    padding-block: 2rem;
  }
  .suggest .sub-title {
    font-size: 2rem;
    line-height: 3.6rem;
  }
}
